from __future__ import print_function  # Python 2/3 compatibility
import boto3
import json
import decimal
import csv
import sys
from boto3.dynamodb.conditions import Key, Attr
session = boto3.Session(
    aws_access_key_id = {{ AWS_ACCESS_KEY_ID }},
    aws_secret_access_key = {{ AWS_SECRET_ACCESS_KEY }},
)

dynamodb = session.resource('dynamodb',region_name='{{ ec2_region }}')
# table is an object for Araport11 dynamodb table
table = dynamodb.Table("{{ dynamo_db_table_name }}")
# Copying data from Araport11.json to Araport11 table in dynamodb
request = []

with open(sys.argv[1], 'r') as f:
    reader = csv.reader(f, delimiter='\t')
    for itemGene in reader:
        toks = itemGene[3].split('.')
        Chromosome = itemGene[0]
        GeneId = toks[0]
        Start = int(itemGene[1])
        End = int(itemGene[2])
        print(GeneId)
        if request == []:
            request.append({
                'Chromosome': Chromosome,
                'Start': Start,
                'End': End,
                'GeneId': GeneId,
            })
        #least Start and highest End
        else:
            for item in request:
                if GeneId == item['GeneId']:
                    flag = 1
                    if item['Start'] < Start:
                        Start = item['Start']
                    if item['End'] > End:
                        End = item['End']
                    item.update({
                        'Start': Start,
                        'End': End})
            if flag == 0:
                request.append({
                    'Chromosome': Chromosome,
                    'Start': Start,
                    'End': End,
                    'GeneId': GeneId
                    })
        flag = 0

for i in range(len(request)):
    with table.batch_writer() as batch:
        print("Adding: ", request[i])
        batch.put_item(Item = request[i])

print("Data Load Complete!!")            
