<IfModule mod_ssl.c>
	<VirtualHost _default_:443>
		ServerAdmin webmaster@localhost
		ServerName {{ domain }}
		ServerAlias www.{{ domain }}
		ServerAdmin lorainelabuncc@gmail.com
		DocumentRoot /var/www/{{ domain }}/htdocs
          	<Directory "/var/www/{{ domain }}/htdocs">
	              Options Indexes FollowSymLinks
                      AllowOverride All
                     Require all granted
                </Directory>
		ErrorLog ${APACHE_LOG_DIR}/{{ domain }}-error.log
		CustomLog ${APACHE_LOG_DIR}/{{ domain }}-access.log combined
		SetEnvIf Request_URI "^/igb/releases/current/updates.xml$" usage
		CustomLog ${APACHE_LOG_DIR}/{{ domain }}-igb_starts.log combined env=usage
		SSLEngine on
		SSLCertificateFile	/etc/ssl/certs/{{ ssl_cert_file }}
		SSLCertificateKeyFile /etc/ssl/private/{{ ssl_cert_key_file }}
		SSLCertificateChainFile /etc/apache2/ssl.crt/{{ ssl_chain_file }}
		<FilesMatch "\.(cgi|shtml|phtml|php)$">
				SSLOptions +StdEnvVars
		</FilesMatch>
		<Directory /usr/lib/cgi-bin>
				SSLOptions +StdEnvVars
		</Directory>
		Alias "/public" "/var/www/genome-dashboard/public"	
                ProxyRequests Off
                ProxyPreserveHost On
                ProxyVia Full
                <Location "/genome-dashboard">
                         ProxyPass http://localhost:3000/
                         ProxyPassReverse http://localhost:3000/
                </Location>
		<FilesMatch "^(IGB_unix_current.sh)$">
                     ForceType application/octet-stream
                     Header set Content-Disposition 'attachment; filename="IGB_unix_current.sh"'
                </FilesMatch>
		<FilesMatch "^(IGB-linux-amd64-main.sh)$">
                     ForceType application/octet-stream
                     Header set Content-Disposition 'attachment; filename="IGB-linux-amd64-main.sh"'
                </FilesMatch>
	</VirtualHost>
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
