<VirtualHost *:80>
	ServerName {{ domain }}
	ServerAlias www.{{ domain }}
	ServerAdmin lorainelabuncc@gmail.com
	DocumentRoot /var/www/{{ domain }}/htdocs
        ScriptAlias /cgi-bin/ "/var/www/{{ domain }}/cgi-bin/"
	<Directory "/var/www/{{ domain }}/htdocs">
	    Options Indexes FollowSymLinks
            AllowOverride All
            Require all granted
        </Directory>
	ErrorLog ${APACHE_LOG_DIR}/{{ domain }}-error.log
	CustomLog ${APACHE_LOG_DIR}/{{ domain }}-access.log combined
	SetEnvIf Request_URI "^/igb/releases/current/updates.xml$" usage
	CustomLog ${APACHE_LOG_DIR}/{{ domain }}-updates.xml.log combined env=usage
        Redirect /igb/news.html /news.html
        Redirect /igb/help.html /help.html
        Redirect /bogus/password-protected-example /quickload/password-protected-example
        Redirect /bogus/redirect-example /quickload/redirect-example
        <If "%{REQUEST_URI} != '/galaxy.html' && %{REQUEST_URI} != '/bar.html' && %{REQUEST_URI} != '/cgi-bin/geneIdLookup.py' && %{REQUEST_URI} !~ /quickload.bar/">
             Redirect / https://{{ domain }}/
        </If>
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
